In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'color':['Red','Green','Blue','Yellow','Orange','Pink','Black','Cyan','Grey','White'], 
                   'products':[['ball','car'], 
                               ['plant','vegetable'], 
                               ['book','ball'], 
                               ['car','bike'], 
                               ['plant', 'fruit'], 
                               ['dress','ball'], 
                               ['car', 'bike', 'ball'], 
                               ['car'], ['bike'], 
                               ['dress','book']]})

df.head(10)

    color            products
0     Red         [ball, car]
1   Green  [plant, vegetable]
2    Blue        [book, ball]
3  Yellow         [car, bike]
4  Orange      [plant, fruit]
5    Pink       [dress, ball]
6   Black   [car, bike, ball]
7    Cyan               [car]
8    Grey              [bike]
9   White       [dress, book]

In [3]:
df['products'].iloc[0]

['ball', 'car']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   color     10 non-null     object
 1   products  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [5]:
from sklearn.preprocessing import MultiLabelBinarizer

y = df['products']
y

0           [ball, car]
1    [plant, vegetable]
2          [book, ball]
3           [car, bike]
4        [plant, fruit]
5         [dress, ball]
6     [car, bike, ball]
7                 [car]
8                [bike]
9         [dress, book]
Name: products, dtype: object

In [6]:
multi = MultiLabelBinarizer()
y = multi.fit_transform(df['products'])

y

array([[1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0]])

In [7]:
multi.classes_

array(['ball', 'bike', 'book', 'car', 'dress', 'fruit', 'plant',
       'vegetable'], dtype=object)

In [8]:
x = df['color']
x

0       Red
1     Green
2      Blue
3    Yellow
4    Orange
5      Pink
6     Black
7      Cyan
8      Grey
9     White
Name: color, dtype: object

In [9]:
dataframe = pd.DataFrame(y,columns=multi.classes_)
dataframe

   ball  bike  book  car  dress  fruit  plant  vegetable
0     1     0     0    1      0      0      0          0
1     0     0     0    0      0      0      1          1
2     1     0     1    0      0      0      0          0
3     0     1     0    1      0      0      0          0
4     0     0     0    0      0      1      1          0
5     1     0     0    0      1      0      0          0
6     1     1     0    1      0      0      0          0
7     0     0     0    1      0      0      0          0
8     0     1     0    0      0      0      0          0
9     0     0     1    0      1      0      0          0

In [10]:
dataframe.insert(0, column='color', value=x)

In [11]:
dataframe

    color  ball  bike  book  car  dress  fruit  plant  vegetable
0     Red     1     0     0    1      0      0      0          0
1   Green     0     0     0    0      0      0      1          1
2    Blue     1     0     1    0      0      0      0          0
3  Yellow     0     1     0    1      0      0      0          0
4  Orange     0     0     0    0      0      1      1          0
5    Pink     1     0     0    0      1      0      0          0
6   Black     1     1     0    1      0      0      0          0
7    Cyan     0     0     0    1      0      0      0          0
8    Grey     0     1     0    0      0      0      0          0
9   White     0     0     1    0      1      0      0          0